{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
{% load static %}


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center px-lg-5">

    <div class="d-flex align-items-center justify-content-between ">
      <a href="{% url 'facultyDashboard' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">VirtualClassroom</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyProfile'%}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyLogout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <main id="main" class="main px-lg-5 mx-lg-5" >

    <div class="pagetitle px-lg-5">
      <h1>Classroom</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'facultyDashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Classroom</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard px-lg-5">

      <div class="card bg-dark text-white">
          <img src="{% static 'images/slides-1.jpg' %}" class="card-img" style="height:250px;" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">{{class.classname}}</h5>
            <p class="card-text">{{class.classDepartment}}</p>
            <p class="card-text">Class Code : {{class.classId}}</p>
          </div>
        </div>


      <div class="row">

        <div class="col-xxl-3 col-md-4 col-sm-6">
          <a href="#" data-bs-toggle="modal" data-bs-target="#announcementModal">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Announcement</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </a>

          <!-- Modal for Announcement -->
          <form class="" method="POST">
            {% csrf_token %}
            <div class="modal fade" id="announcementModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                   <div class="col-12">
                     <label for="inputNanme4" class="form-label">Heading</label>
                     <input type="text" class="form-control" name="announcementHeading" id="announcementHeading">
                   </div>
                   <br>

                   <div class="col-12">
                     <label for="announcementDescription" class="form-label">Description</label>
                     <textarea type="text" class="form-control" name="announcementDescription" rows="8" cols="80"></textarea>
                   </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" name="postAnnouncement" class="btn btn-primary">Post</button>
                </div>
              </div>
            </div>
          </div>
        </form><!-- End Announcement Modal-->

        </div>




        <div class="col-xxl-3 col-md-4 col-sm-6">
          <a href="#" data-bs-toggle="modal" data-bs-target="#assignmentModal">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Post Assignment</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </a>

          <!-- Modal for Assignment -->
          <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <div class="modal fade" id="assignmentModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                   <div class="col-12">
                     <label for="inputNanme4" class="form-label">Heading</label>
                     <input type="text" class="form-control" name="assignmentHeading" id="assignmentHeading" required>
                     <div class="invalid-feedback">Please, enter the Assignment Heading!</div>
                   </div>
                   <br>

                   <div class="col-12">
                     <label for="assignmentDescription" class="form-label">Description</label>
                     <textarea type="text" class="form-control" name="assignmentDescription" rows="2" cols="80" required></textarea>
                     <div class="invalid-feedback">Please, enter the Assignment Description!</div>
                   </div>
                   <br>
                   <div class="col-12">
                     <label for="inputNanme4" class="form-label">Assignment Link(Eg. Google Drive Link)</label>
                     <input type="text" class="form-control" name="assignmentLink" id="assignmentLink">
                   </div>
                   <br>

                   <div class="col-12">

                     <label for="inputNanme4" class="form-label">Due Date and Time</label>
                     <input type="datetime-local" class="form-control" name="dueDate" id="dueDate" required>
                     <div class="invalid-feedback">Please, enter the Due Date and Time</div>
                   </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" name="postAssignment" class="btn btn-primary">Post</button>
                </div>
              </div>
            </div>
          </div>
        </form><!-- End Assignment Modal-->


        </div>



        <div class="col-xxl-3 col-md-4 col-sm-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h5 class="card-title">Mark Attendence</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-xxl-3 col-md-4 col-sm-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h5 class="card-title">Members</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>



      <div class="row">

        <!-- Right side columns -->
        <div class="col-lg-3">


          <div class="">
            <a href="#" data-bs-toggle="modal" data-bs-target="#sendInvitesModal">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Send Invites to Join</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </a>

            <!-- Modal for Announcement -->
            <form class="" method="post">
              <div class="modal fade" id="sendInvitesModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Send Invites to Join</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                     <div class="col-12">
                       <label for="inputNanme4" class="form-label">Enter the Student Id</label>
                       <input type="text" class="form-control" name="studentId" id="studentId">
                     </div>
                     <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" name="sendInvite" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </form><!-- End Announcement Modal-->

        </div>




          <!-- Meet Link -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Gmeet Link <i type="button" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#gmeetModal"></i></h5>

                <!-- Modal for Meet Link -->
                <form class="needs-validation" method='POST' novalidate  >
                  {% csrf_token %}
                  <div class="modal fade" id="gmeetModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Enter the Meeting Link</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                            <div class="form-floating">
                              <input type="text" name="meetLink" class="form-control" id="floatingName" placeholder="Enter the Link" required>
                              <label for="floatingName">Meeting Link</label>
                              <div class="invalid-feedback">Please enter the link</div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" name="linkSubmit" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form><!-- End Modal-->


              <div class="activity text-center">
                <button type="button" class="btn btn-primary px-5" name="button">Join Now</button>
              </div>

            </div>
          </div><!-- End MeetLink -->


          <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Offline Mode Available?</h5>

                  <!-- Advanced Form Elements -->
                  <form>
                    <div class="row mb-5">
                      <div class="col-sm-8">
                        <script type="text/javascript">
                            function EnableDisableTextBox(flexSwitchCheckDefault) {
                                var txtPassportNumber = document.getElementById("txtPassportNumber");
                                txtPassportNumber.disabled = flexSwitchCheckDefault.checked ? false : true;
                                if (!txtPassportNumber.disabled) {
                                    txtPassportNumber.focus();
                                }
                            }
                        </script>

                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="EnableDisableTextBox(this)">
                          <label class="form-check-label" for="flexSwitchCheckDefault">YES</label>
                          <input type="text" id="txtPassportNumber" placeholder="Strength in %" disabled="disabled" />
                        </div>
                      </div>
                    </div>

                  </form>
               </div>
            </div>

        </div><!-- End Right side columns -->




        <!-- Announcement and Assignment -->
        <div class="col-lg-9">
          <div class="row">

                <!-- {% if announcements %}
                  {% for announcement in announcements %}
                    <div class="">
                       <div class="card">
                         <div class="card-body">
                           <h5 class="card-title">{{announcement.announcementHeading}}</h5>
                           {{announcement.announcementDescription}}
                         </div>
                       </div>
                    </div>
                  {% endfor %}
                {% else %}
                <div class="">
                   <div class="card">
                     <div class="card-body py-4 text-center">
                       <h3>No Announcements Yet</h3>
                     </div>
                   </div>
                </div>
                {% endif %} -->

            {% if all_items_feed%}
              {% for item in all_items_feed %}
                  {% if item.type == 'announcement' %}

                  <div class="">
                     <div class="card">
                       <div class="card-body">
                         <h5 class="card-title">{{item.announcementHeading}}</h5>
                         {{item.announcementDescription}}
                       </div>
                     </div>
                  </div>

                  {% elif item.type == 'assignment' %}

                <a href="#">
                  <div class="">
                     <div class="card">
                       <div class="card-body">
                         <div class="d-flex justify-content-between">
                           <h5 class="card-title">{{item.assignmentHeading}}</h5>
                           <h5 class="card-title">Due : {{item.assignmentDueTime |date:"M d, Y" }}</h5>
                         </div>
                        <p>{{item.assignmentDescription}}</p>
                       </div>
                     </div>
                  </div>
                </a>

                  {% endif %}
            {% endfor %}

          {% else %}
            <div class="">
               <div class="card">
                 <div class="card-body py-4 text-center">
                   <h3>Nothing To Display For Now!!</h3>
                 </div>
               </div>
            </div>
          {% endif %}


              </div>
            </div><!-- End Announcement and Assignment -->


          </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/_footer.html'%}
  <!-- ======= Footer Ends ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



{% endblock %}
