{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
{% load static %}


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center px-lg-5">

    <div class="d-flex align-items-center justify-content-between ">
      <a href="{% url 'facultyDashboard' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">VirtualClassroom</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyProfile'%}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyLogout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <main id="main" class="main px-lg-5 mx-lg-5" >

    <div class="pagetitle px-lg-5">
      <h1>Classroom</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'facultyDashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Classroom</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard px-lg-5">

    <div class="row">
      <div class=" text-white col-lg-8  col-sm-12">
          <div class="card">
            <img src="{% static 'images/slides-1.jpg' %}" class="card-img" style="height:250px;" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">{{class.classname}}</h5>
              <p class="card-text">{{class.classDepartment}}</p>
              <p class="card-text">Class Code : {{class.classId}}</p>
            </div>
          </div>
        </div>

        <!-- Attendence Details -->
        <div class="col-xxl-4 col-lg-5 col-sm-12">
          <div class="card mb-3 info-card sales-card pb-0">
           <div class="row g-0" style="background: #FFC300">
             <div class="col-sm-4 align-self-center ">
               <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                 <i class="bi bi-calendar-check" style="color: #FFC300"></i>
               </div>
             </div>
             <div class="col-sm-8 bg-white">
               <div class="card-body mt-0  pb-0">
                 <h5 class="card-title text-center my-0 pt-3 ">TIME TABLE</h5>
                 <div class="activity">
                   <div class="mx-auto mt-0 ">
                       <table class="table table-borderless ">
                       <tbody>
                           <tr >
                             <td class="py-1" style="color: #012970"><strong>MONDAY</strong></td>
                             <td class="py-1" style="color: #012970"><strong>: &nbsp; 12-14</strong></td>
                           </tr>
                           <tr >
                             <td class="py-1" style="color: #012970"><strong>TUESDAY</strong></td>
                             <td class="py-1" style="color: #012970"><strong>: &nbsp; 12-14</strong></td>
                           </tr>

                           <tr >
                             <td class="py-1" style="color: #012970"><strong>WEDNESDAY</strong></td>
                             <td class="py-1" style="color: #012970"><strong>: &nbsp; 2-3</strong></td>
                           </tr>

                           <tr >
                             <td class="py-1" style="color: #012970"><strong>THURSDAY</strong></td>
                             <td class="py-1" style="color: #012970"><strong>: &nbsp; 12-14</strong></td>
                           </tr>
                           <tr >
                             <td class="py-1" style="color: #012970"><strong>FRIDAY</strong></td>
                             <td class="py-1" style="color: #012970"><strong>: &nbsp; 12-14</strong></td>
                           </tr>

                           <tr>
                             <td class="py-1" style="color:#012970"><strong>SATURDAY</strong></td>
                             <td class="py-1" style="color:#012970"><strong >: &nbsp; 5-6</strong></td>
                           </tr>
                           <tr>
                             <td class="py-1" style="color:#012970"><strong>SUNDAY %</strong></td>
                             <td class="py-1" style="color:#012970"><strong>: &nbsp; 7-9</strong></td>
                           </tr>
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
        </div><!-- End Attendence Details -->

    </div>



      <div class="row">

        <!-- Meeting Details -->
        <!-- End Meeting Details -->



       <div class="col-xxl-3 col-md-4 col-sm-6">
         <a href="#" data-bs-toggle="modal" data-bs-target="#announcementModal">
           <div class="card info-card sales-card pb-0">
            <div class="row g-0" style="background: #4154f1">
              <div class="col-md-4 align-self-center ">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                  <i class="bi bi-chat-right-text" style=""></i>
                </div>
              </div>
              <div class="col-md-8 bg-white">
                <div class="card-body my-1  mt-2 mb-0">
                  <h5 class="card-title text-center ">POST <br>ANNOUNCEMENT</h5>
                </div>
              </div>
            </div>
          </div>
         </a>

         <!-- Modal for Announcement -->
         <form class="" method="POST">
           {% csrf_token %}
           <div class="modal fade" id="announcementModal" tabindex="-1">
             <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title">Post Announcement</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">

                  <div class="col-12">
                    <label for="inputNanme4" class="form-label">Heading</label>
                    <input type="text" class="form-control" name="announcementHeading" id="announcementHeading">
                  </div>
                  <br>

                  <div class="col-12">
                    <label for="announcementDescription" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="announcementDescription" rows="8" cols="80"></textarea>
                  </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="submit" name="postAnnouncement" class="btn btn-primary">Post</button>
               </div>
             </div>
           </div>
         </div>
       </form><!-- End Announcement Modal-->
       </div>




        <div class="col-xxl-3 col-md-4 col-sm-6">

          <a href="#" data-bs-toggle="modal" data-bs-target="#assignmentModal">
            <div class="card info-card sales-card pb-0">
             <div class="row g-0" style="background: #4154f1">
               <div class="col-md-4 align-self-center ">
                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                   <i class="bi bi-pencil-square" style=""></i>
                 </div>
               </div>
               <div class="col-md-8 bg-white">
                 <div class="card-body my-1  mt-2 mb-0">
                   <h5 class="card-title text-center ">POST <br>ASSIGNMENT</h5>
                 </div>
               </div>
             </div>
           </div>
          </a>


          <!-- Modal for Assignment -->
          <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <div class="modal fade" id="assignmentModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Post Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                   <div class="col-12">
                     <label for="inputNanme4" class="form-label">Heading</label>
                     <input type="text" class="form-control" name="assignmentHeading" id="assignmentHeading" required>
                     <div class="invalid-feedback">Please, enter the Assignment Heading!</div>
                   </div>
                   <br>

                   <div class="col-12">
                     <label for="assignmentDescription" class="form-label">Description</label>
                     <textarea type="text" class="form-control" name="assignmentDescription" rows="2" cols="80" required></textarea>
                     <div class="invalid-feedback">Please, enter the Assignment Description!</div>
                   </div>
                   <br>
                   <div class="col-12">
                     <label for="inputNanme4" class="form-label">Assignment Link(Eg. Google Drive Link)</label>
                     <input type="url" class="form-control" name="assignmentLink" id="assignmentLink">
                     <div class="invalid-feedback">Please, enter valid URL!</div>
                   </div>
                   <br>

                   <div class="col-12">

                     <label for="inputNanme4" class="form-label">Due Date and Time</label>
                     <input type="datetime-local" class="form-control" name="dueDate" id="dueDate" required>
                     <div class="invalid-feedback">Please, enter the Due Date and Time</div>
                   </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" name="postAssignment" class="btn btn-primary">Post</button>
                </div>
              </div>
            </div>
          </div>
        </form><!-- End Assignment Modal-->

        </div>


        <div class="col-xxl-3 col-md-4 col-sm-6">
          <a href="{% url 'classAttendence' class.pk %}">
            <div class="card info-card sales-card pb-0">
             <div class="row g-0" style="background: #4154f1">
               <div class="col-md-4 align-self-center ">
                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                   <i class="bi bi-clipboard-data" style=""></i>
                 </div>
               </div>
               <div class="col-md-8 bg-white">
                 <div class="card-body my-1  mt-2 mb-0">
                   <h5 class="card-title text-center ">TAKE <br>Attendence</h5>
                 </div>
               </div>
             </div>
           </div>
          </a>
        </div>

        <div class="col-xxl-3 col-md-4 col-sm-6">

          <a href="{% url 'classMembersList' class.pk%}">
            <div class="card info-card sales-card pb-0">
             <div class="row g-0" style="background: #4154f1">
               <div class="col-md-4 align-self-center ">
                 <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                   <i class="bi bi-people" style=""></i>
                 </div>
               </div>
               <div class="col-md-8 bg-white">
                 <div class="card-body my-1  mt-2 mb-0">
                   <h5 class="card-title text-center ">CHECK <br>MEMBERS</h5>
                 </div>
               </div>
             </div>
           </div>
          </a>
        </div>



      </div>



      <div class="row">

        <!-- Right side columns -->
        <div class="col-lg-3">

          <div class="">

            <a href="#" data-bs-toggle="modal" data-bs-target="#sendInvitesModal">
              <div class="card info-card sales-card pb-0">
               <div class="row g-0" style="background: #4154f1">
                 <div class="col-md-4 align-self-center ">
                   <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
                     <i class="bi bi-cursor" style=""></i>
                   </div>
                 </div>
                 <div class="col-md-8 bg-white">
                   <div class="card-body my-1  mt-2 mb-0">
                     <h5 class="card-title text-center ">SEND <br>INVITES</h5>
                   </div>
                 </div>
               </div>
             </div>
            </a>

            <!-- Modal for Invites -->
            <form class="" method="post">
              <div class="modal fade" id="sendInvitesModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Send Invites to Join</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                     <div class="col-12">
                       <label for="inputNanme4" class="form-label">Enter the Student Id</label>
                       <input type="text" class="form-control" name="studentId" id="studentId">
                     </div>
                     <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" name="sendInvite" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </form><!-- End Invites Modal-->

        </div>


        <!-- Meeting Details -->
        <div class="card mb-3 info-card sales-card pb-0">
         <div class="row g-0" style="background: #4154f1">
           <div class="col-md-4 align-self-center ">
             <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto">
               <i class="bi bi-camera-video" style=""></i>
             </div>
           </div>
           <div class="col-md-8 bg-white">
             <div class="card-body my-1">
               <h5 class="card-title text-center">MEET LINK <i type="button" class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#gmeetModal"></i></h5>
               <div class="activity text-center">
                 {% if class.classLink %}
                   <a type="button" href="{{class.classLink}}"  class="btn btn-primary col-sm-12" style="background: #4154f1" name="button">JOIN NOW</a>
                 {% else %}
                   <button type="button" class="btn btn-primary col-sm-8" style="background: #4154f1" name="button" disabled>JOIN NOW</button>
                 {% endif %}

               </div>
             </div>
           </div>
         </div>
       </div><!-- End Meeting Details -->


        <!-- Modal for Meet Link -->
        <form class="needs-validation" method='POST' novalidate  >
          {% csrf_token %}
          <div class="modal fade" id="gmeetModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Enter the Meeting Link</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="url" name="meetLink" class="form-control" id="floatingName" placeholder="Enter the Link" required>
                      <label for="floatingName">Meeting Link</label>
                      <div class="invalid-feedback">Please enter Valid Link</div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" name="linkSubmit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </form><!-- End Modal-->


          <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Offline Mode Available?</h5>

                  <!-- Advanced Form Elements -->
                  <form>
                    <div class="row mb-5">
                      <div class="col-sm-8">
                        <script type="text/javascript">
                            function EnableDisableTextBox(flexSwitchCheckDefault) {
                                var txtPassportNumber = document.getElementById("txtPassportNumber");
                                txtPassportNumber.disabled = flexSwitchCheckDefault.checked ? false : true;
                                if (!txtPassportNumber.disabled) {
                                    txtPassportNumber.focus();
                                }
                            }
                        </script>

                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="EnableDisableTextBox(this)">
                          <label class="form-check-label" for="flexSwitchCheckDefault">YES</label>
                          <input type="text" id="txtPassportNumber" placeholder="Strength in %" disabled="disabled" />
                        </div>
                      </div>
                    </div>

                  </form>
               </div>
            </div>

        </div><!-- End Right side columns -->




        <!-- Announcement and Assignment -->
        <div class="col-lg-9">
          <div class="row">

            {% if all_items_feed%}
              {% for item in all_items_feed %}
                  {% if item.type == 'announcement' %}

                  <!-- Meeting Details -->
                <div class="">
                  <div class="card info-card sales-card pb-0">
                   <div class="row g-0" style="background: #355C7D">
                     <div class="col-sm-2 align-self-center ">
                       <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto bg-white">
                         <i class="bi bi-chat-right-text " style="color:#355C7D"></i>
                       </div>
                     </div>
                     <div class="col-sm-10 bg-white" >
                       <div class="card-body">
                         <div class="">
                           <div class="">
                             <h5 class="card-title">{{item.announcementHeading}}</h5>
                           </div>
                         </div>
                         {{item.announcementDescription}}
                       </div>
                     </div>
                   </div>
                 </div>
                 </div><!-- End Meeting Details -->

                  {% elif item.type == 'assignment' %}

                  <div class="">
                     <div class="card info-card sales-card  pb-0">
                       <div class="row g-0" style="background: #99B898" >
                         <div class="col-sm-2 align-self-center"  >
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center mx-auto" style="">
                             <i class="bi bi-pencil-square " style="color: #99B898"></i>
                           </div>
                         </div>
                         <div class="col-sm-10 bg-white">
                           <div class="card-body">
                             <div class="d-flex justify-content-between">
                               <div class="col-sm-9">
                                 <h5 class="card-title">{{item.assignmentHeading}}</h5>
                               </div>
                               <div class="col-sm-3">
                                 <h5 class="card-title">Due: {{item.assignmentDueTime |date:"M d, Y" }}</h5>
                               </div>
                             </div>

                             <p>{{item.assignmentDescription}}</p>
                             {% if item.assignmentLink %}
                             <div class="d-flex justify-content-between">
                               <p><strong>Assignment Link : <a href="{{item.assignmentLink}}">Click Here</a></strong></p>
                               <div class="" style="text-align:right;">
                                 <a class="btn  btn-sm" href="{% url 'assignmentSubmissions' item.pk %}" name="button" style="background:#4154f1; color:white;">View Submissions</a>
                               </div>
                             </div>
                             {% else %}
                             <div class="" style="text-align:right;">
                               <a class="btn  btn-sm" href="{% url 'assignmentSubmissions' item.pk %}" name="button" style="background:#4154f1; color:white;">View Submissions</a>
                             </div>
                             {% endif %}

                           </div>
                         </div>
                       </div>
                     </div>
                  </div>


                  {% endif %}
            {% endfor %}

          {% else %}
            <div class="">
               <div class="card">
                 <div class="card-body py-4 text-center">
                   <h3>Nothing To Display For Now!!</h3>
                 </div>
               </div>
            </div>
          {% endif %}


              </div>
            </div><!-- End Announcement and Assignment -->


          </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/_footer.html'%}
  <!-- ======= Footer Ends ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



{% endblock %}
