{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center px-lg-5">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'facultyDashboard'%}" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-none d-lg-block">VirtualClassroom</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyLogout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% endif %}
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->



  <main id="main" class="main px-lg-5 mx-lg-5">

    <div class="pagetitle">
      <h1>Create a Class</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'facultyDashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Create Class</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card mb-3">
         <div class="card-body " >
           <div class="row ">
             <form class="row g-3 needs-validation"   method='POST' novalidate>
               {% csrf_token %}
               <div class=" mt-0 container">
                 <div class=" pb-0">
                   <h5 class="card-title text-center pb-0 fs-4">CREATE CLASSROOM</h5>
                   <p class="text-center small">Enter the details to create Classroom</p>
                 </div>
               </div>
                 <!-- right Form -->
                 <div class=" col-xxl-6 col-md-6">

                   <div class="container mt-0 ">
                     <h5 class="card-title text-center py-0 mb-1 fs-5">CLASSROOM DETAILS</h5>
                     <p class="text-center small pt-0"> (All are required Fields)</p>
                   </div>

                         <div class="col-12 my-3">
                           <label for="className" class="form-label">CLASSROOM NAME</label>
                           <input type="text" name="className" class="form-control" id="className" required>
                           <div class="invalid-feedback">Please enter Classroom Name!</div>
                         </div>

                        <div class="">
                          <input type="text" name="faculty" class="form-control" id="faculty" value="{{user.first_name}} {{user.last_name}}" hidden required>
                        </div>


                         <div class="col-12 my-3">
                           <label for="department" class="form-label">DEPARTMENT</label>
                           <input type="text" name="department" class="form-control" id="department" required>
                           <div class="invalid-feedback">Please enter Department!</div>
                         </div>

                         <div class="col-12 my-3">
                           <label for="year" class="form-label">ACADEMIC YEAR</label>
                           <input type="text" name="year" class="form-control" id="year" required>
                           <div class="invalid-feedback">Please enter Academic Year!</div>
                         </div>

                         <div class="col-12 my-3">
                           <label for="gmeet" class="form-label">MEET LINK</label>
                           <input type="url" name="gmeet" class="form-control" id="gmeet" >
                           <div class="invalid-feedback">Please enter Valid Meeting Link!</div>
                         </div>

                     </div>  <!-- End Right Form  -->


                 <!-- Left Form -->
                 <div class="col-xxl-6 col-md-6">

                   <div class="container mt-0 ">
                     <h5 class="card-title text-center py-0 mb-1 fs-5">CLASS TIME TABLE</h5>
                     <p class="text-center small pt-0"> (Start and End Time in 24 Hr Format)</p>
                   </div>

                   <!-- Time Table Start -->
                   <div class="container">

                     <!-- Monday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="monday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('monday_start');
                                        var input2 = document.getElementById('monday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Monday" style="font-size:30px;" />
                             <label class="form-check-label" for="monday" style="font-size:25px;">Monday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="monday_start" class="form-control" id="monday_start" value=0 disabled>
                             <label for="monday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="monday_end" class="form-control" id="monday_end" value=0 disabled>
                             <label for="monday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div><!-- Ends Monday -->


                     <!-- Tuesday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="tuesday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('tuesday_start');
                                        var input2 = document.getElementById('tuesday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Tuesday" style="font-size:30px;" />
                             <label class="form-check-label" for="tuesday" style="font-size:25px;">Tuesday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="tuesday_start" class="form-control" id="tuesday_start" value=0 disabled>
                             <label for="tuesday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="tuesday_end" class="form-control" id="tuesday_end" value=0 disabled>
                             <label for="tuesday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div><!-- Ends Tuesday -->


                     <!-- Wednesday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="wednesday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('wednesday_start');
                                        var input2 = document.getElementById('wednesday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Wednesday" style="font-size:30px;" />
                             <label class="form-check-label" for="acceptTerms" style="font-size:25px;">Wednesday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="wednesday_start" class="form-control" id="wednesday_start" value=0 disabled>
                             <label for="wednesday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="wednesday_end" class="form-control" id="wednesday_end" value=0 disabled>
                             <label for="wednesday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div> <!-- Ends Wednesday -->

                     <!-- Thursday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="thursday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('thursday_start');
                                        var input2 = document.getElementById('thursday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Thursday" style="font-size:30px;" />
                             <label class="form-check-label" for="acceptTerms" style="font-size:25px;">Thursday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="thursday_start" class="form-control" id="thursday_start" value=0 disabled>
                             <label for="thursday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="thursday_end" class="form-control" id="thursday_end" value=0 disabled>
                             <label for="thursday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div> <!-- Ends Thursday -->

                     <!-- Friday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="friday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('friday_start');
                                        var input2 = document.getElementById('friday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Friday" style="font-size:30px;" />
                             <label class="form-check-label" for="acceptTerms" style="font-size:25px;">Friday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="friday_start" class="form-control" id="friday_start"  value=0 disabled>
                             <label for="friday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="friday_end" class="form-control" id="friday_end"  value=0 disabled>
                             <label for="friday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div> <!-- Ends Friday -->

                     <!-- Saturday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="saturday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('saturday_start');
                                        var input2 = document.getElementById('saturday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Saturday" style="font-size:30px;" />
                             <label class="form-check-label" for="acceptTerms" style="font-size:25px;">Saturday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="saturday_start" class="form-control" id="saturday_start" value=0 disabled>
                             <label for="saturday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="saturday_end" class="form-control" id="saturday_end" value=0 disabled>
                             <label for="saturday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div> <!-- Ends Saturday -->

                     <!-- Sunday -->
                     <div class="row my-2">
                       <div class="col-lg-4 mx-auto">
                         <div class="col-md-12">
                           <div class="form-check mt-2 ">
                             <input class="form-check-input" id="sunday" type="checkbox" name="time"
                               onclick="var input1 = document.getElementById('sunday_start');
                                        var input2 = document.getElementById('sunday_end');
                                        if(this.checked){ input1.disabled = false; input2.disabled = false; input.focus();}
                                        else{input1.disabled=true; input2.disabled = true;}" value="Sunday" style="font-size:30px;" />
                             <label class="form-check-label" for="acceptTerms" style="font-size:25px;">Sunday</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="number" min=0 max=24 name="sunday_start" class="form-control" id="sunday_start" value=0 disabled>
                             <label for="sunday_start">Start Time</label>
                           </div>
                         </div>
                       </div>

                       <div class="col-lg-3 mx-auto">
                         <div class="col-md-12">
                           <div class="form-floating">
                             <input type="text" name="sunday_end" class="form-control" id="sunday_end" value=0 disabled>
                             <label for="sunday_end">End Time</label>
                           </div>
                         </div>
                       </div>
                     </div> <!-- Ends Sunday -->
                   </div> <!-- Ends Time Table -->

                </div> <!-- End Left Form  -->


                 <div class="container col-lg-6 col-sm-12 mt-lg-4">

                   <div class="col-12">
                     <button class="btn btn-primary w-100" name="submit" type="submit">Create Class</button>
                   </div>

                 </div>

              </form>  <!-- End Form -->

             </div> <!-- Row Ends -->
           </div><!-- Card Body Ends Ends -->
         </div><!-- Card ends -->

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/_footer.html'%}
  <!-- ======= Footer Ends ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




  {% endblock %}
