{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
{% load static %}

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center px-lg-5">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'studentDashboard' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">VirtualClassroom</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'studentProfile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'studentLogout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav>

  </header><!-- End Header -->


  <main id="main" class="main px-md-5 mx-md-5" >

    <div class="pagetitle px-lg-5">
      <h1>Classroom</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'studentDashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard px-xxl-5">


      <div class="card bg-dark text-white">
          <img src="{% static 'images/slides-1.jpg' %}" class="card-img" style="height:250px;" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">{{class.classname}}</h5>
            <p class="card-text">{{class.classDepartment}}</p>
            <p class="card-text">Class Code : {{class.classId}}</p>
          </div>
        </div>

      <div class="row">

        <!-- Right side columns -->
        <div class="col-lg-3">

          <!-- Meeting Details -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Meeting Link </h5>

              <div class="activity text-center">
                {% if class.classLink %}
                  <a type="button" href="{{class.classLink}}" class="btn btn-primary col-sm-12" name="button">Join Now</a>
                {% else %}
                  <button type="button" class="btn btn-primary col-sm-12" name="button" disabled>Join Now</button>
                {% endif %}

              </div>

            </div>
          </div><!-- End Meeting Details -->


          <!-- Attendence Details -->
          <div class="card">
            <div class="card-body">


              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title text-center">Attendence Details</h5>

                  <div class="row mx-auto">
                    <!-- <h4 class=""">Total Class</h4>
                    <h4>Total Attended</h4>
                    <h4>Total Absent</h4> -->
                    <div class="col-lg-6 col-md-4 label ">Total Class</div>
                    <div class="col-lg-6 col-md-8">: 45</div>
                    <div class="col-lg-6 col-md-4 label ">Total Attended</div>
                    <div class="col-lg-6 col-md-8">: 45</div>
                    <div class="col-lg-6 col-md-4 label ">Total Absent</div>
                    <div class="col-lg-6 col-md-8">: 45</div>
                    <div class="col-lg-6 col-md-4 label ">Attendence %</div>
                    <div class="col-lg-6 col-md-8">: 90</div>

                  </div>
                </div>

            </div>
          </div><!-- Attendence Details -->






        </div><!-- End Right side columns -->
            <!-- Left side columns -->
            <div class="col-lg-9">
              <div class="row">

                    {% if all_items_feed%}
                      {% for item in all_items_feed %}
                          {% if item.type == 'announcement' %}

                          <div class="">
                             <div class="card">
                               <div class="card-body">
                                 <h5 class="card-title">{{item.announcementHeading}}</h5>
                                 {{item.announcementDescription}}
                               </div>
                             </div>
                          </div>

                          {% elif item.type == 'assignment' %}

                        <a href="#">
                          <div class="">
                             <div class="card">
                               <div class="card-body">
                                 <div class="d-flex justify-content-between">
                                   <h5 class="card-title">{{item.assignmentHeading}}</h5>
                                   <h5 class="card-title">Due : {{item.assignmentDueTime |date:"M d, Y" }}</h5>
                                 </div>
                                <p>{{item.assignmentDescription}}</p>
                               </div>
                             </div>
                          </div>
                        </a>

                          {% endif %}
                    {% endfor %}

                  {% else %}
                    <div class="">
                       <div class="card">
                         <div class="card-body py-4 text-center">
                           <h3>Nothing To Display For Now!!</h3>
                         </div>
                       </div>
                    </div>
                  {% endif %}

              </div>
            </div><!-- End Left side columns -->



      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/_footer.html'%}
  <!-- ======= Footer Ends ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



{% endblock %}
